.querySelect{
    display: inline-block;
    min-width:160px;
    margin-right:20px;
    vertical-align: middle;
}
.unionSelect{
    display: inline-block;
}
.timeTo{
    line-height: 39px;
    vertical-align: bottom;
    padding-right:20px;
}
:global{
    .searchPointer{
        cursor: pointer;
    }
    .fixWidth{
        width:160px;
    }
}